@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
}

/* For Landing Page */
#home {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://uploads.portfoliogen.com/photos/headerimages/2579_4BCEF5DA-5056-A84C-5355EB0417607B11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: beige;
    height: 25vh;
}

/* For Navbar */
.navbar {
    background-color: #d5bdaf;
}
.nav-link:hover {
    color: white;
    text-decoration: underline;
}

/* For Contact Page */
.card-block {
    background-color: #d6ccc2;
    margin: 20px;
    border-radius: 5px;
}
.card-block > img {
    border: 3px solid #d6ccc2;
}
.btn {
    background-color: #d5bdaf;
}
.btn i:hover {
    color: gray;
}
.btn-send {
    background-color: #4361ee;
    color: white;
}
.btn-send:hover {
    background-color: gray;
    color: white;
}

.fa-square-github {
    color: black;
    font-size: 30px;
}
.fa-envelope {
    color: #4361ee;
    font-size: 25px;
}
.fa-square-facebook {
    color: #03045e;
    font-size: 25px;
}
.fa-square-instagram {
    color: #d90429;
    font-size: 25px;
}
.fa-linkedin {
    color: #3a86ff;
    font-size: 25px;
}

/* For About Page */
#abt-img {
    height: 150px;
    width: 240px;
}
#abt2-img {
    height: 160px;
}

/* For Interests Page */
.carousel-item h5 {
    color: white;
    background: rgba(0, 0, 0, .4);
}
.carousel-item p {
    color: white;
    background: rgba(0, 0, 0, .4);
}

/* For Experience Page */
.btn-resume a{
    text-decoration: none;
}
.btn-resume a:hover {
    color: rgba(20, 20, 23, 0.7);
    text-decoration: underline;
}
/* For Projects Page */

/* For Education Page */
.education-link a:hover{
    color: gray;
}

/* For Footer Page */
footer {
    background-color: #d5bdaf;
    padding-top: 10px;
    padding-bottom: 1px;
}

